<ion-view view-title="Recordings">
  <ion-content>
    <div class="row" style="none">
     <div class="about"> <i class="icon ion-mic-c"></i> Your Recordings

       <div class="list list-inset">

         <div class="item">
           Song1.wav
         </div>
         <div class="item">
           Song2.wav
         </div>
         <div class="item">
           Song3.wav
         </div>
         <div class="item">
           Song4.wav
         </div>
         <div class="item">
           Song5.wav
         </div>

       </div>

     </div>
    </div><br>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
