<ion-view view-title="Account">

    <ion-content class="padding">

        <div class="row">
            <div class="col-33"><img src="/www/img/emily.jpg"></div>
            <div class="col-67">


                <div class="button button-medium button-full button-balanced" style="border-color: #0C8138 ; height: 20px">Edit Your Profile</div>
            </div>
        </div>

        <div class="row" style="background-color: energized">
            <div class="about">About User</div>
        </div>

            <div class="content">

            </div>

        </section>



</ion-view>