
<link rel="./www/css">

<ion-view view-title="Profile">

    <ion-content class="padding">

        <div class="row">
            <div class="col-33"><img src="./img/emily.jpg"></div>
            <div class="col-67"></div></div>
                <button class="button button-small button-light" ng-click="logout()">
                    Logout
                </button>

        <div class="row" style="background-color: #cccccc">
            <div class="about">About User
            <p>28, female, Canada</p></div>
        </div><br>

        <button class="button button-full button-stable" ng-click="recordAudio()">
            Record Audio
        </button>


        <button class="button button-full button-stable" ng-click="gotoaccount()">
            Recordings
        </button>





        <div class="content">


            </div>

        </section>



</ion-view>